body {
  background-image: url("img/background-homepage.png");
}
header {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  margin-top: 135px;
}
.play {
  display: flex;
  justify-content: center;
}
.play h2 {
  border: solid;
  padding: 30px;
  border-radius: 80%;
  margin-top: 250px;
}
